{% extends 'base.html' %}
{% load static %}
{% block title %}Haber-detayları{% endblock %}
{% block meta_description %}  {% endblock %}
{% block content %}


  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="{% static 'website/img/bg-img/Montero4.jpg' %}" alt="">

            <h2 class="post-title">Beşiktaş'ta Montero Vida'nın yeni partneri </h2>
            <div class="post-meta">
              <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
              <a href="#"><i class="icon_chat_alt"></i>0 yorum</a>
            </div>
            <p>Siyah-Beyazlılar, stoper hattında köklü bir değişikliğe gidiyor... Victor Ruiz’in kontratını fesh etmesinin ardından bu bölgeyi Aytemiz Alanyaspor’dan Welinton’la güçlendiren Kara Kartal, bu hattaki operasyonunu sürdürüyor. Teknik ekibin kadroda düşünmediği İsimat Mirin ve Enzo Roco’yla yollarını ayıracak olan Beşiktaş, son olarak Atletico Madrid’in 21 yaşındaki genç yeteneği Francisco Montero’yu renklerine bağladı. Geçen sezonu Deportivo La Coruna’da kiralık olarak geçiren 1,85’lik futbolcuyu yarın İstanbul’a getirecek olan Siyah-Beyazlılar, 1 yıllık anlaşma imzalayacak. Teknik ekibin, Montero’yu Vida’nın savunmadaki yeni partneri olarak belirlemesi bekleniyor.</p>
    
            <blockquote cite="" class="dento-blockquote d-flex">
              <div class="icon">
                <i class="fa fa-quote-left"></i>
              </div>
              <div class="text">
                <h5>atletico madrid'in dünya futboluna sunmaya hazırlandığı 1999 doğumlu ispanyol solak stoper. şansı yaver giderse top class seviyeye hızlı bir şekilde geçiş yapacaktır.</h5>
                <h6> evde black smoke besleyen adam <span>Ekşi Sözlük yazarı</span></h6>
              </div>
            </blockquote>
            <h2 class="post-title">Beşiktaş bombayı patlatıyor! Nikola Kalinic imzaya yakın. </h2>
            <p>Transfer çalışmalarını hız kesmeden sürdüren Beşiktaş, Hırvat forvet Nikola Kalinic ile el sıkıştı. Kulübü Atletico Madrid'le kalan son pürüzlerin giderilmesi durumunda 32 yaşındaki futbolcu İstanbul'a gelecek.
              .</p>
            <img src="{% static 'website/img/bg-img/kalınıc3.jpg' %}" alt="">
            <p>Beşiktaş'ın santrfor için bir numaralı hedefi olan Nikola Kalinic artık son düzlükte. 32 yaşındaki golcü futbolcuyla maaş ve bonus toplamı 2.5 milyon Euro'luk sözleşme üzerinde prensipte anlaşan siyah-beyazlı yönetim, Atletico Madrid ile bonservis pazarlığından rakamı ciddi oranda aşağı çekmeyi başardı.

              Sabah'ın haberine göre; İspanyollar'ın bir yıl daha sözleşmesi kalan Kalinic için istediği 4 milyon Euro bonservis bedeli, yapılan pazarlıkların ardından 2.5 milyon Euro'ya kadar indirildi.
              
              <h2 class="post-title">İSTANBUL'A BEKLENİYOR</h2>
              
              Siyah-beyazlı yönetimin Atletico Madrid'e yaptığı teklif 1.5 milyon Euro oldu. Rakamı kendi istediği çizgiye çekmeye çalışan Beşiktaş, uzun zamandır uğraş verdiği transferi noktalamak üzere. Şayet İspanyol ekibi ile anlaşma sağlanırsa Nikola Kalinic ile 2+1 yıllık sözleşme üzerinden son görüşme yapılacak ve Hırvat futbolcu İstanbul'a gelerek kendisini Beşiktaşlı yapacak mukaveleye imza atacak.
              
              .</p>
          </div>

          <!-- Post Share  -->
          <div class="post-share-area mb-30">
            
            <a href="https://twitter.com/worldofkartal" class="tweet"><i class="fa fa-twitter"></i> Paylaş</a>
            <a href="https://www.instagram.com/direct/inbox/" class="instagram"><i class="fa fa-instagram"></i> Paylaş</a>
          </div>

          <!-- Comments Area -->
          

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <!-- Single Widget Area -->
            

            <!-- Single Widget Area -->
           

              <!-- Single News Area -->
              

              <!-- Single News Area -->
              
            <!-- Single Widget Area -->
            

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

{% endblock %}