{% extends 'base.html' %}
{% load static %}


{% block content %}




  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/easy.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms"> Word Of Kartal</h2>
                <p data-animation="fadeInUp" data-delay="300ms">
                  </p>
                <div class="welcome-btn-group">
                  <a href=" {% url 'blog' %}" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Haberlere Geçin</a>
                  <a href=" {% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">  İletişime Geçin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg-img/easy2.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">Büyük Başkan</h2>
                <p data-animation="fadeInDown" data-delay="300ms">Şerefli ikincilikler, şerefsiz şampiyonluklardan önemlidir.</p>
                  <div class="welcome-btn-group">
                    <a href=" {% url 'blog' %}" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Haberlere Geçin</a>
                    <a href=" {% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">  İletişime Geçin</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter"></span></h2>
            <hr>
            <h5>Site Yaşı</h5>     
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">Belli Değil</span>+</h2>
            <hr>
            <h5>Mutluluk Oranı </h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <img src="https://img.icons8.com/ultraviolet/60/000000/instagram-new.png"/>
            <h2>İnstagram</h2>
            <hr>
             <h5> <a href="https://www.instagram.com/worldofkartal/">@worldofkartal</a></h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <print><h2>Yönetici</h2></print>
            <hr>
            <h5>Umut Karagüler</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  

 

        
  <!-- Dento Pricing Table Area End -->

  

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Beşiktaş'ın  En iyi 3 Oyuncusu </h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/atiba.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://twitter.com/worldofkartal"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/worldofkartal/"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Atiba Hutchionson</h5>
                <p>37 Yaş</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/ersin.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                
                <a href="https://twitter.com/worldofkartal"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/worldofkartal/"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Ersin Destanoğlu</h5>
                <p>19 yaş</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/Montero.jpg' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                
                <a href="https://twitter.com/worldofkartal"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/worldofkartal/"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Francisco Montero</h5>
                <p>21 yaş </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/reis2.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/reis.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Yaş sadece bir Sayıdır ”</h5>
                <h6>Atiba Hutchinson</h6>
                <p>Beşiktaş Efsanesi</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/reis.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Yaş sadece bir Sayıdır ”</h5>
                <h6>Atiba Hutchinson</h6>
                <p>Beşiktaş Efsanesi</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/reis.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Yaş sadece bir Sayıdır ”</h5>
                <h6>Atiba Hutchinson</h6>
                <p>Beşiktaş Efsanesi</p>
              </div>
            </div>
              <!-- Content -->
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Son Dakika Haberler</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/Montero2.png' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Francisco Montero Beşiktaşta!!!</a>
              <hr>
              <p>Uzun süredir Atletico Madridle görüşülüyordu ve anlaşıldı!</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 ağustos 2020</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 yorum</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/kalınıc.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Kalınıc Yakın!</p>
                <hr>
                <p>Uzun süredir Beşiktaş yönetimi temas halinde oyuncunun net maaşı 6-7 milyon euro bu yüzden transfer veto edilebilir. </p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 ağustos 2020</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 yorum</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="./blog-details.html">
              <img src="{% static 'website/img/bg-img/zeluıs.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="./blog-details.html" class="post-title">Ze Luıs'le Anlaşma Tamam sırada Kulübü var!!</a>
              <hr>
              <p>Ze Luıs'le 2.2 milyon avroya anlaşan beşiktaş külübü ikna etmeye yöneldi.</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 29 ağustos 2020</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 yorum</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

  {% endblock %}