{% extends 'base.html' %}
{% load static %}
{% block title %}Hizmetimiz {% endblock %}
{% block meta_description %}  {% endblock %}

{% block content %}



 <!-- Dento Service Area Start -->
 <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/bir.jpg' %});">
  <div class="container">
    <div class="row align-items-center">
      <!-- Service Content -->
      <div class="col-12 col-lg-6">
        <div class="service-content mb-30">
          <!-- Section Heading -->
          <div class="section-heading white">
            <h2>Hizmetimiz</h2>
            <div class="line"></div>
          </div>

          <div class="row">
            <!-- Single Service -->
            <div class="col-6 col-md-4">
              <div class="single-service mb-70">
                <img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                <h6>Dürüst Haberler</h6>
              </div>
            </div>

            <!-- Single Service -->
            <div class="col-6 col-md-4">
              <div class="single-service mb-70">
                <img src="{% static 'website/img/core-img/s2.png' %}" alt="">
                <h6>Beşiktaşa Öneri Transferler</h6>
              </div>
            </div>

            <!-- Single Service -->
            <div class="col-6 col-md-4">
              <div class="single-service mb-70">
                <img src="{% static 'website/img/core-img/s3.png' %}" alt="">
                <h6>Maç Analizleri</h6>
              </div>
            </div>

            <!-- Single Service -->
            <div class="col-6 col-md-4">
              <div class="single-service mb-70">
                <img src="{% static 'website/img/core-img/s4.png' %}" alt="">
                <h6>Son Dakika Haberleri</h6>
              </div>
            </div>

            <!-- Single Service -->
            <div class="col-6 col-md-4">
              <div class="single-service mb-70">
                <img src="{% static 'website/img/core-img/s5.png' %}" alt="">
                <h6>Transfer Haberleri</h6>
              </div>
            </div>

            <!-- Single Service -->
            <div class="col-6 col-md-4">
              <div class="single-service mb-70">
                <img src="{% static 'website/img/core-img/s1.png' %}" alt="">
                <h6>Dünyadan Haberleri</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Video Area -->
      <div class="col-12 col-lg-6">
        <div class="dento-video-area mb-100">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UXiAyIZjk7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Dento Service Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/reis2.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/reis.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Yaş sadece bir Sayıdır ”</h5>
                <h6>Atiba Hutchinson</h6>
                <p>Beşiktaş Efsanesi</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/reis.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Yaş sadece bir Sayıdır ”</h5>
                <h6>Atiba Hutchinson</h6>
                <p>Beşiktaş Efsanesi</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/reis.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Yaş sadece bir Sayıdır ”</h5>
                <h6>Atiba Hutchinson</h6>
                <p>Beşiktaş Efsanesi</p>
              </div>
            </div>
              <!-- Content -->
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->
  <!-- ***** Testimonials Area End ***** -->

<!-- ***** Blog Area Start ***** -->
<section class="dento-blog-area section-padding-100-0 clearfix">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Son Dakika Haberler</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Blog Item -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-blog-item mb-100">
          <a href="./blog-details.html">
            <img src="{% static 'website/img/bg-img/Montero2.png' %}" alt="">
          </a>
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="./blog-details.html" class="post-title">Francisco Montero Beşiktaşta!!!</a>
            <hr>
            <p>Uzun süredir Atletico Madridle görüşülüyordu ve anlaşıldı!</p>
            <div class="post-meta">
              <a href="#"><i class="icon_clock_alt"></i> 28 ağustos 2020</a>
              <a href="#"><i class="icon_chat_alt"></i> 3 yorum</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Blog Item -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-blog-item mb-100">
          <a href="./blog-details.html">
            <img src="{% static 'website/img/bg-img/kalınıc.jpg' %}" alt="">
          </a>
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="./blog-details.html" class="post-title">Kalınıc Yakın!</p>
              <hr>
              <p>Uzun süredir Beşiktaş yönetimi temas halinde oyuncunun net maaşı 6-7 milyon euro bu yüzden transfer veto edilebilir. </p>
            <div class="post-meta">
              <a href="#"><i class="icon_clock_alt"></i> 28 ağustos 2020</a>
              <a href="#"><i class="icon_chat_alt"></i> 3 yorum</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Blog Item -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-blog-item mb-100">
          <a href="./blog-details.html">
            <img src="{% static 'website/img/bg-img/zeluıs.jpg' %}" alt="">
          </a>
          <!-- Blog Content -->
          <div class="blog-content">
            <a href="./blog-details.html" class="post-title">Ze Luıs'le Anlaşma Tamam sırada Kulübü var!!</a>
            <hr>
            <p>Ze Luıs'le 2.2 milyon avroya anlaşan beşiktaş külübü ikna etmeye yöneldi.</p>
            <div class="post-meta">
              <a href="#"><i class="icon_clock_alt"></i> 29 ağustos 2020</a>
              <a href="#"><i class="icon_chat_alt"></i> 3 yorum</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Blog Area End ***** -->


{% endblock %}